<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= pageTitle %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <% include ../includes/navigation.ejs %>
    <main>
        <form method="POST">
            <div>
                <label for="price">Title</label>
                <input type="text" name="title" value="<%if(editing){product.title}%>" />
            </div>
            <div>
                <label for="image">Image</label>
                <input type="text" name="imageUrl" />
            </div>
            <div>
                <label for="price">Price</label>
                <input type="number" name="price" />
            </div>
            <div>
                <label for="description">Description</label>
                <textarea type="text" name="description"></textarea>
            </div>
            <button type="submit"><%if(editing){%>Update Product<%}else{%>Add Product<%}%></button>
        </form>
    </main>
</body>

</html>